<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtrstudios.Fahrplan30c3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mtrstudios.Fahrplan30c3.TalkListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mtrstudios.Fahrplan30c3.TalkDetailActivity"
            android:label="@string/title_talk_detail"
            android:parentActivityName=".TalkListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TalkListActivity" />
        </activity>
    </application>

</manifest>
